package InfraTestSpec

import groovy.util.logging.Slf4j

@Slf4j
class VerifyRule {

<%
verify_rules.each { rule_id, domain_rules ->
    domain_rules.each { domain, test_id_rules ->
        test_id_rules.each { test_id, rule ->
            def method_name = "${rule_id}__${domain}__${test_id}"

%>\
    def <%= method_name %>(x) {
        return (<%= rule %>) ? true : false
    }

<%
        }
    }
}
%>\

}
