- model_class = Node
.page-header
  h1
    =t '.title', :default => model_class.model_name.human.pluralize.titleize
= form_tag({:action=>"index"}, {:method=>"get"}) do
  = hidden_field_tag 'filter_group', @filter_group
  = hidden_field_tag 'filter_node',  @filter_node
  = t('tag')
  = select_tag :tag_id, options_from_collection_for_select(@tags, :id, :tag_name, session[:tag_id]),
               {include_blank: true, :onchange => "this.form.submit()", :id => "project_quick_jump_box" }
  = link_to t('.new', :default => t("helpers.links.add")),
  -               new_tag_path,
                  :class => 'btn btn-xs btn-primary'
  - if (session[:tag_id]) then
    = link_to t('.update', :default => t("helpers.links.edit")),
    -               edit_tag_path(session[:tag_id]),
                    :class => 'btn btn-xs btn-primary'
table.table.table-striped
  thead
    tr
      th
        = model_class.human_attribute_name(:group_name)
      th
        = model_class.human_attribute_name(:node_name)
      th
        = model_class.human_attribute_name(:platform)
      th
        =t '.actions', :default => t("helpers.actions")
  tbody
    = form_tag({:action=>"index"}, {:method=>"get"}) do
      tr
        td
          = text_field_tag 'filter_group', @filter_group
        td
          = text_field_tag 'filter_node', @filter_node
        td
        td
          = submit_tag "検索"
    - @nodes.each do |node|
      tr
        td
          = node.group.group_name
        td
          = link_to node.node_name, edit_node_path(node)
        td
          - node.node_configs.each do |config|
            = link_to t('.edit', :default => config.platform.platform_name), edit_node_config_path(config), :class => 'btn btn-link'
        td
          = link_to t('.edit', :default => t("helpers.links.copy")), nodes_copy_path(id: node.id), :class => 'btn btn-xs btn-info'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), node_path(node), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
 :class => 'btn btn-xs btn-danger'
= paginate @nodes
= link_to t('.new', :default => t("helpers.links.new")),
-             new_node_path, :class => 'btn btn-primary'
